div#map {
  padding: 1em 0;

  .add-feature {
    position: absolute;
    top: 65px;
    left: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 2px;
    
    a {
      display: block;
      margin: 1px;
      padding: 0;
      color: white;
      font-size: 18px;
      font-family:'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      height: 22px;
      width: 22px;
      line-height: 19px;
      background: rgba(0, 60, 136, 0.5);
     
      &:hover {
          background: rgba(0, 60, 136, 0.7);
      }
    }
  }

  .new-coordinate {
    border-radius: 2px 2px 0 0;
    
    &:before {
        content:"Add Point";
    }
  }
}